<div class="card center">
    <div class="card-body">
    
        <h2 align="card-title">Title: <%= @article.title %></h2>
    
    
        </br>
    
        <p class="card-text">Description: 
        <%= simple_format(@article.description) %>
        </p>
        
    <%= link_to "Back to listing article", articles_path, class: "card-link" %>
    </div>
</div>
